.weather {
	background-color: $bg-color-weather;
	display: -webkit-flex;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	&__current {
		display: -webkit-flex;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 90%;
		height: 70vh;
		color: $text-color-weather;
		text-align: center;
		&--main {
			height: 90%;
			width: 50%;
			display: -webkit-flex;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			border: 1px solid $accents-weather-color;
			border-radius: 8px;
			margin-right: 5px;
			&-icon {
				width: 20%;
				height: auto;
				display: flex;
				align-self: center;
				@include mobiles-portrait {
					width: 40%;
				}
			}
			&-city {
				font-size: 4em;
				font-weight: 300;
				@include mobiles {
					font-size: 2em;
				}
			}
			&-temperature {
				display: flex;
				align-self: center;

				font-size: 4em;
				@include mobiles {
					font-size: 2em;
				}
				@include mobiles-portrait {
					font-size: 3em;
				}
			}
			&-description {
				font-size: 1.5em;
				@include mobiles {
					font-size: 1em;
				}
				@include mobiles-portrait {
					font-size: 1.3em;
					padding: 0 5px;
				}
			}
		}
		&--details {
			height: 90%;
			width: 50%;
			border: 1px solid $accents-weather-color;
			border-radius: 8px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			margin-left: 5px;
			@include mobiles-portrait {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 20px 0;
			}
			&-cell {
				font-size: 1.2em;
				align-self: center;
				@include mobiles {
					font-size: 1em;
				}
				@include mobiles-portrait {
					white-space: pre-wrap;
					font-size: 1.1em;
				}
				&-icon {
					width: 40px;
					height: auto;
					padding-bottom: 20px;
					@include mobiles-portrait {
						width: 30px;
						padding: 0;
					}
				}
			}
		}
	}
	&__forecast {
		color: $text-color-weather;
		width: 90%;
		height: 25vh;
		display: -webkit-flex;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border: 1px solid $accents-weather-color;
		border-radius: 8px;
		padding: 0 40px;
		@include mobiles-portrait {
			padding: 0 5px;
		}
		&--day {
			display: -webkit-flex;
			display: flex;
			flex-direction: column;
			align-items: center;
			&-name {
				font-size: 1.2em;
				@include mobiles {
					font-size: .9em;
				}
				@include mobiles-portrait {
					font-size: .8em;
				}
			}
			&-date {
				@include mobiles {
					font-size: .6em;
				}
				@include mobiles-portrait {
					display: none;
				}
			}
			&-icon {
				width: 50px;
				height: auto;
				padding: 10px 0;
				@include mobiles {
					width: 20px;
					padding: 3px 0;
				}
			}
			&-temperature {
				font-size: 1.2em;
				@include mobiles {
					font-size: 1em;
				}
			}
		}
	}
}
